/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
    padding: 8rem 0 7rem;
    text-align: center;
}
.section-heading,
.section-description {
    margin-bottom: 5rem;
}

.link {
    text-decoration: none;
    color: #222;
}

.link :hover {
    text-decoration: none;
    color: #4fce6a;
}

/* Bigger than 350 */
@media (min-width: 350px) {
    .section {
        padding: 11rem 0 12rem;
    }

    .top-heading {
        font-size: 2.4rem;
        margin-bottom: 5%;
    }

    .top-description {
        font-size: 2rem;
        margin-left: 4%;
    }
    
}

/* Bigger than 550 */
@media (min-width: 550px) {
    .section {
        padding: 12rem 0 11rem;
    }
    .top {
        padding-bottom: 12rem;
        text-align: left;
        height: 165px;
    }

    .top-description {
        font-size: 2.4rem;
    }
}

/* Bigger than 750 */
@media (min-width: 750px) {
    .top {
        height: 190px;
    }
    .top-description {
        font-size: 2.6rem;
    }
    .section {
        padding: 14rem 0 15rem;
    }
    .top {
        padding: 16rem 0 14rem;
    }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
    .section {
        padding: 20rem 0 19rem;
    }
    .top {
        padding: 16rem 0;
    }
    .top-description {
        font-size: 3.0rem;
    }
}